*{
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}
#spotlight div{
    width: 100px;
    height: 100px;
    margin: 20px auto ;
    
}
#spotlight div img{
    width: 100%;
    border-radius: 50%;
    
}
#spotlight {
    padding: 40px;
}
h1 {
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 10px 0;
}
p {
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.card {
    background-color: rgba(41, 41, 51, 0.767);
    display: flex;
    max-width: 500px;
    margin: 20px auto;
    padding:30px ;
    border-radius: 20px;
    height: 30px;
    

}
.iconimg{
    margin: 0 auto;
    width: 50px;
    
}
.card:hover{
    transform: scale(1.1);
}
.cardcontent{
    width: 100%;
    text-align: center;
    padding: 10px;
}
.icon {
    background-color: rgba(41, 41, 51, 0.767) ;
    display: flex;
    max-width: 200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    height: 40px;
    
}
.img {
    margin: 0 auto;
}
.link {
    text-decoration-line: none;
    color: white;
}
.iconimg img{
    width: 100%;
    display: flex;
    -webkit-filter: invert(1);
    filter: invert(1);
}
.icon:hover{
    transform: scale(1.1);
}
.icon img{
    -webkit-filter: invert(1);
    filter: invert(1);
}
i{
    color: red;
    
    margin: 0 auto;
    font-size: 40px;
}